.App {
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: max-content;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  height: 621px;
  background-color: #f1f3f4;
  padding: 0 40px;
  color: #202124;
  display: flex;
  flex-direction: column;
}
.footerTop {
  height: 88px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  gap: 26px;
  align-items: center;
  > P {
    font-size: 14px;
    font-weight: 500;
  }
}

.footerMiddle {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 40px 0;
  font-weight: 500;
  border-bottom: 1px solid gainsboro;
}
.footerMiddle .innerItems {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footerMiddle .innerText {
  color: #5f6368;
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  font-size: 15px;
  height: 30px;
  transition: all ease-in 150ms;
  .icon {
    margin-bottom: 0;
  }
}
.innerText:hover {
  cursor: pointer;
  color: black;
  > .icon {
    margin-bottom: 8px;
  }
}

.footerBottom {
  flex: 1;
  color: #5f6368;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerBottomLeft {
  display: flex;
  align-items: center;
  gap: 50px;
  > h2 {
    font-size: 30px;
    font-weight: 600;
  }
}
.terms {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 500;
  > p:hover {
    color: black;
    cursor: pointer;
  }
}

.footerBottomRight {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 500;
  > p:hover {
    cursor: pointer;
    color: black;
  }
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
  border: 1px solid gainsboro;
  width: 250px;
  padding: 8px 14px;
  font-weight: 500;
  font-size: 14px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.carousel-image {
  width: 1029px;
  height: 600px;
  border-style: none;
}

.chr-mosaic {
  display: flex;
  justify-content: center;
}

.chr-mosaic_wrapper {
  display: flex;
  /* transition: transform 0.5s ease; */
  transform: translate(-439.569px, 0px);
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  flex-wrap: nowrap;
  gap: 24px;
  will-change: transform;
  box-sizing: border-box;
}

.chr-mosaic_item {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  /* flex: 0 0 auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  visibility: visible; */
}

/* .chr-mosaic_item.hidden {
  opacity: 0;
  visibility: hidden;
} */

.chr-mosaic__image-container {
  /* overflow: hidden; */
  display: block;
  height: 400px;
}

.btn-group {
  margin-bottom: 20px;
}

.btn {
  padding: 0;
  border: none;
  outline: none;
}

.toggle-btn {
  border-radius: 30px;
}

.navbarLogo {
  display: flex;
  align-items: center;
  gap: 2px;
  > img {
    height: 45px;
    width: 45px;
  }
  > p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 26px;
    color: #5f6368;
  }
}

.carouselImg {
  padding: 0 100px;
  > img {
    width: 83vw;
    height: auto;
  }
}
